* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

input:focus {
    outline: none;
    background-color: white;
}
input::placeholder {
    color: #97C4EE;
}

section {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(245, 245, 245, 0.329)), url("./assests/globe\ with\ aeroplane.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    height: 100vh;
}

@media screen and (max-width:600px) {
    section {
        width: 100vw;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
@media screen and (max-width:450px) {
    section {
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
.NavBar img{
    height: auto;
    width:200px;
     object-fit: cover;
}
ul,
li {
display: inline-block;
}

.NavBar {
    padding: 1%;
}

ul {
    float: right;
    display:flex;
    flex-wrap:nowrap;
    justify-content: space-around;
   align-content: center;
    gap:20px;
}

.navitems {
    cursor: pointer;
    color: #182145;
    font-size: 1em;
    padding: 0.5em;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    transition: 0.5s;
}
.navitems:hover {
    color: white;
    background-color: #182145;
    border-radius: 12px;
}
@media screen and (max-width:650px){
    .NavBar>img{
    height: auto;
    width:120px;
     object-fit: cover;
    }
    .navitems{
        font-size: 0.7em;
    padding: 5px;
    }
}
@media screen and (max-width:350px){
    .NavBar>img{
    height: auto;
    width:90px;
     object-fit: cover;
    }
    .navitems{
        font-size: 0.5em;
    padding: 3px;
    }
} 
@media screen and (min-width:1300px)
{
    h2 {
        color: white;
        font-size: 4em;
       padding-left: 1.5em;
       align-self: center;
        width: 30vw;
        display: inline-block;
         text-align: justify;
    }
    .outer-box{
        height: fit-content;
        width: fit-content;
        display: flex;
        padding-top: 10px;
        padding: 0 auto;
        gap:250px;
    
    }
    .box {
        display: inline-block;
        height: fit-content;
        width: fit-content;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 15px;
        padding: 2em;
        box-shadow: 0px 0px 10px 5px rgba(24, 33, 69, 0.3);
    
    }
    button {
        color: #97C4EE;
        background-color: #182145;
        padding: 0.5em;
        position: relative;
        text-align: center;
        left:84%;
        top: 2.3em;
        font-weight: bolder;
        border-radius: 12px;
        border: none;
        display: block;
        cursor: pointer;
        transition: 0.5s;
    }
    h1 {

        color: #97C4EE;
        background-color: #182145;
        border-radius: 12px;
        width: 13vw;
        text-align: center;
        margin:0 auto;
        margin-top: 2em; 
    }
    input {
        display: block;
        color: #97C4EE;
        background-color: #182145;
        border-radius: 12px;
        height: 2.5em;
        border:none;
        margin-top: 3.5em;
        margin-left:  auto;
        margin-right: auto;
        text-align: center;
        transition: 0.6s;
        width: 20vw;
    }
    .createaccount {
        margin-top: 3.5em;
        font-size: 1em;
        text-align: left;
        position: relative;
        right:8%;
        display: inline-block;
    
    }
    
    .forgotaccount {
        margin-top: 3.5em;
        font-size: 1em;
        display: inline-block;
        position: relative;
        left:12%;
      
       
    }
}
h2 {
    color: white;
    font-size: 4em;
   padding-left: 1.5em;
   align-self: center;
    width: 30vw;
    display: inline-block;
     text-align: justify;
}
.outer-box{
    height: fit-content;
    width: fit-content;
    display: flex;
    padding-top: 10px;
    padding: 0 auto;
}
.box {
    flex-basis: 40%;
    display: inline-block;
    height: fit-content;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    padding: 2em;
    padding-right: 0;
    box-shadow: 0px 0px 10px 5px rgba(24, 33, 69, 0.3);

}

button {
    color: #97C4EE;
    background-color: #182145;
    padding: 0.5em;
    position: relative;
    text-align: center;
    left:79%;
    top: 2.3em;
    font-weight: bolder;
    border-radius: 12px;
    border: none;
    display: block;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    color: white;
    transform: scale(1.1);
}

h1 {

    color: #97C4EE;
    background-color: #182145;
    border-radius: 12px;
    width: 13vw;
    text-align: center;
     margin:0 auto;
    margin-top: 2em; 
}
input {
    display: block;
    color: #97C4EE;
    background-color: #182145;
    border-radius: 12px;
    height: 2.5em;
    border:none;
    margin-top: 3.5em;
    margin-left:  auto;
    margin-right: auto;
    text-align: center;
    transition: 0.6s;
    width: 20vw;
}
.box-links{
    display:flex;
    flex-wrap: nowrap;
    margin-top:20px;
    justify-content: space-around;
    width: fit-content;
    
}
a.button {
    display: block;
}

a {
    text-decoration: none;
    color: #182145;
    transition: 0.5s;
}

a:active {
    opacity: 0.7;
}

.box a:hover {
    color: white;
}
.createaccount {
    font-size: 1em;
}
.forgotaccount {
    font-size: 1em;
}

footer {
    background-color: #182145;
}

.Query {
    color: #97C4EE;
    display: block;
    padding-bottom: 10px;
    margin-left: 10px;
    padding-top: 25px;
    padding-left: 20px;

}

a.footerlinks {
    text-decoration: none;
    color: #97C4EE;
    padding-top: 10px;
    padding-left: 20px;
    margin-left: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    transition: 0.5s;
}

a.footerlinks:hover {
    color: white;
    background-color: #97C4EE;
    border-radius: 12px;
}

hr {
    width: 39.9%;
    display: inline-block;
    background-color: #97C4EE;
    border: none;
    height: 2px;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    margin: 5px;
    color: #182145;
    border: solid 1px #97C4EE;
    background-color: #97C4EE;
    border-radius: 5px;
    transition: 0.5s;
}

.fa:hover {
    color: white;
    transform: scale(1.1);
}

.footerlogo {
    text-align: center;
    padding: 10px;
    color: #97C4EE;
    font-size: 20px;

}

.footerlogo a {
    color: #97C4EE;
    padding: 10px;
    transition: 0.5s;
}

.footerlogo a:hover {
    color: white;
}

a:hover {
    color: white;

}