html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
section {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(245, 245, 245, 0.329)), url("./assests/globe\ with\ aeroplane.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
   
}
@media screen and (min-width:700px) {
    section {
    
        height: 100vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
@media screen and (max-width:600px) {
    section {
      
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
@media screen and (max-width:450px) {
    section {
       
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
ul,
li {
    display: inline-block;
}
nav {
    margin-bottom: 40px;
}
nav>img {
    height: auto;
    margin-top: 0.5vw;
    width: 17vw;
    margin:10px;
    object-fit: cover;
}

ul {
    float: right;
    display: flex;
    flex-wrap: nowrap;
    gap: 1vw;
    margin:10px;
    padding-right: 1vw;
}

li {
    cursor: pointer;
    color: #182145;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    font-size: 1.7vw;
    padding: 0.3em;
    margin-top: 0.5vw;
    transition: 0.6s;
}

@media screen and (max-width:700px) {
    li {
        font-size: 2.5vw;
    }
}

li:hover {
    color: white;
    background-color: #182145;
    transform: scale(0.99);
}

input:focus {
    outline: none;
    background-color: white;
}
input::placeholder {
    color: #97C4EE;
}
/*
@media screen and (min-width:1300px)
{
    h2 {
        color: white;
        font-size: 4em;
       padding-left: 1.5em;
       align-self: center;
        width: 30vw;
        display: inline-block;
         text-align: justify;
    }
    .outer-box{
        height: fit-content;
        width: fit-content;
        display: flex;
        padding-top: 10px;
        padding: 0 auto;
        gap:250px;
    
    }
    .box {
        display: inline-block;
        height: fit-content;
        width: fit-content;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 15px;
        padding: 2em;
        box-shadow: 0px 0px 10px 5px rgba(24, 33, 69, 0.3);
    
    }
    button {
        color: #97C4EE;
        background-color: #182145;
        padding: 0.5em;
        position: relative;
        text-align: center;
        left:84%;
        top: 2.3em;
        font-weight: bolder;
        border-radius: 12px;
        border: none;
        display: block;
        cursor: pointer;
        transition: 0.5s;
    }
    h1 {

        color: #97C4EE;
        background-color: #182145;
        border-radius: 12px;
        width: 13vw;
        text-align: center;
        margin:0 auto;
        margin-top: 2em; 
    }
    input {
        display: block;
        color: #97C4EE;
        background-color: #182145;
        border-radius: 12px;
        height: 2.5em;
        border:none;
        margin-top: 3.5em;
        margin-left:  auto;
        margin-right: auto;
        text-align: center;
        transition: 0.6s;
        width: 20vw;
    }
    .createaccount {
        margin-top: 3.5em;
        font-size: 1em;
        text-align: left;
        position: relative;
        right:8%;
        display: inline-block;
    
    }
    
    .forgotaccount {
        margin-top: 3.5em;
        font-size: 1em;
        display: inline-block;
        position: relative;
        left:12%;
      
       
    }
}*/
.outer-box{
    margin:auto;
    margin-top:15vh;
    display:flex;
    gap:50%;
}
.outer-box>h2{
    display:inline-block;
}
.outer-box>h2 {
    color: white;
    font-size: 70px;
    height: auto;
    width: 50px;
    float:left;
    margin-left:7vw;
    font-weight: bold;
}
.box{
    display:inline-block;
    margin-top:5vh;
}
.box {
    height: fit-content;
    width: fit-content;
   float: right;
   margin-right:20vw;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    padding: 2em;
    box-shadow: 0px 0px 10px 5px rgba(24, 33, 69, 0.3);
}
.end-box{
    display:flex;
    flex-direction:column;
    gap:2vh;
    margin:1vh;
    margin-top:2vh;

}
.end-box>a{
    align-self:self-end;
}
button {
    color: #97C4EE;
    display: block;
    background-color: #182145;
    padding: 0.5em;
    text-align: center;
    font-weight: bolder;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
button:hover {
    color: white;
    transform: scale(1.1);
}
.box>h1 {
    color: #97C4EE;
    background-color: #182145;
    border-radius: 12px;
    width: fit-content;
    padding: 0.3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: center;
    margin-top: 5px;
    border-radius: 12px;
    font-size: 2rem;
    margin: 0 auto;
}
input {
    display: block;
    color: #97C4EE;
    background-color: #182145;
    border-radius: 12px;
    height: 25px;
    border:none;
    margin-top: 3.5em;
    margin-left:  auto;
    margin-right: auto;
    text-align: center;
    transition: 0.6s;
    width: 200px;
}
.accountlinks {
    display: flex;
    justify-content: space-between;
}

a.button {
    display: block;
}

a {
    text-decoration: none;
    color: #182145;
    transition: 0.5s;
}

a:active {
    opacity: 0.7;
}

.box a:hover {
    color: white;
}
.createaccount {
    font-size: 1em;
}
.forgotaccount {
    font-size: 1em;
}
@media screen and (max-width:750px){
    section{
        height: fit-content;
    }
   
    .outer-box{
        margin:auto;
        display:flex;
        width:inherit;
        margin-top:10px;
        flex-direction: column;
        gap:0;  
    }
    .outer-box>h2 
{
   font-size: 10vw;
   width:fit-content;
   margin-bottom: 0;
}
.box {
    margin:auto;
    margin-bottom:20px;


}

}
@media screen and (min-width:1300px){
.outer-box{
    margin:auto;
    display:flex;
    width:inherit;
    gap:0;
    margin-top:15vh;
}
.outer-box>h2 
{
   margin:auto;
   font-size:5.5vw;
   width:40%;
}
input
{
    width: 300px;
    height: 3em;
   
}
input:focus{
    outline:none;
}
input::placeholder{
    font-size: 1.5em ;
}
.accountlinks>a
{
font-size: 15px;
color:#182145;
}

}
.none-hr {
    visibility: none;
    border: none;
}

footer {
    background-color: #182145;
    width: 100%;
    height: fit-content;
}

@media screen and (min-width:1500px) {
    footer {
        margin-top: auto;
    }
}

.Query {
    color: #97C4EE;
    padding: 10px;
}

.enquiry {
    padding: 10px;
    font-size: 1.6rem;
}

a.footerlinks {
    text-decoration: none;
    display: block;
    width: fit-content;
    color: #97C4EE;
    padding-top: 10px;
    padding: 10px;
    padding-bottom: 5px;
    transition: 0.5s;
}

a.footerlinks:hover {
    color: white;

    transform: scale(0.99);
}

@media screen and (max-width:400px) {

    .enquiry {
        padding: 5px;
        font-size: 0.8rem;
    }
}

@media screen and (min-width:1500px) {
    .enquiry {
        padding: 20px;
        font-size: 3rem;
    }

}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

.socials a {
    margin: 0 10px;
    text-decoration: none;
    font-size: 2rem;
}

.socials hr {
    flex: 1;
    border: none;
    border-top: 2px solid #97C4EE;
}

.fa {
    background-color: #97C4EE;
    color: #182145;
    width: 30px;
    text-align: center;
    border-radius: 12px;
    padding: 10px;
    transition: 0.5s;
}

.fa:hover {
    color: white;
    transform: scale(1.1);
}

@media screen and (max-width:700px) {
    .socials a {
        font-size: 0.8rem;
        width: 20px;
        padding: 5px;
    }
}

.footerlogo {
    text-align: center;
    padding: 10px;
    color: #97C4EE;
    font-size: 1.6rem;
}

.footerlogo>img {
    width: 17vw;
    height: auto;
    object-fit: cover;
}

.footerlogo div{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:400px){

    .footerlogo {

        font-size: 0.8rem;
    }
}

@media screen and (min-width:1500px){
    .footerlogo {

        font-size: 3rem;
    }

}

.footerlogo a {
    color: #97C4EE;
    padding: 10px;
    transition: 0.5s;

}

.footerlogo a:hover {
    color: white;
}

a:hover {
    color: white;
}