html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
section {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(245, 245, 245, 0.329)), url("../assests/globe\ with\ aeroplane.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    
}
@media screen and (min-width:700px) {
    section {
      
        height: 100vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
@media screen and (max-width:600px) {
    section {
        
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
@media screen and (max-width:450px) {
    section {
      
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
ul,
li {
    display: inline-block;
}

nav>img {
    height: auto;
    margin-top: 0.5vw;
    width: 17vw;
    margin:10px;
    object-fit: cover;
}

ul {
    float: right;
    display: flex;
    flex-wrap: nowrap;
    gap: 1vw;
    margin:10px;
    padding-right: 1vw;
}

li {
    cursor: pointer;
    color: #182145;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    font-size: 1.7vw;
    padding: 0.3em;
    margin-top: 0.5vw;
    transition: 0.6s;
}

@media screen and (max-width:700px) {
    li {
        font-size: 2.5vw;
    }
}
li:hover {
    color: white;
    background-color: #182145;
    transform: scale(0.99);
}
    h2{
        color:white;
        font-size:65px;
        padding-left:60px;
        width:30%;
        display:inline-block;
       padding-bottom:50px;
        text-align: justify;
    }
    .checkbox{
        height:15px;
        width:15px;
        margin-top:12px;
        margin-left:0px;
        display:inline-block;
        position:relative;
        top:2px;
    }
    .box > p{
        display:inline-block;
        text-align:justify;
        font-size:15px;
        color:#182145;
        position: relative;
        left:20px;
        top:-17px;
    }
    .box{
        display:block;
        height: fit-content;
        width:300px;
        margin:auto;
        background-color:rgba(255,255,255,0.3);
        border-radius:15px;
        padding-right:20px;
        padding-left:20px;
        padding-top:20px;
        margin-top: 5vh;
       margin-bottom:auto;
        box-shadow: 0px 0px 10px 5px rgba(24,33,69,0.3);
       
    }
    button{
        color:#97C4EE;
        background-color:#182145;
        padding:5px;
        position:relative;
        text-align: center;
        left: 250px;
        top:-10px;
        font-weight: bolder;
        border-radius: 12px;
        display: block;
        cursor:pointer;
        border:none;
        transition: 0.5s;
    }
    button:hover{
        color: white;
        transform: scale(1.05);
    }
    label{
        display:block;
        color:rgba(0,0,0,0.7);
        font-size: 20px;
        position:relative;
       top:15px;
      
       font-weight: bold;
    }
    h1{
    color:#97C4EE;
        background-color:#182145;
        border-radius:12px;
        border-style:solid;
        border-width:0px;
        border-color:#182145;
        width:200px;
        margin:auto;
        padding:3px;
        text-align:center;
        margin-top:5px;
        border-radius:12px;
    }

    input{
        display:block;
color:#97C4EE;
        background-color:#182145;
        border-width:0px;
        border-style:solid;
        border-radius:12px;
        height:30px;
        margin:10px;
        margin-left:20px;
        text-align:center;
        border-color:#182145;
        border-style:solid;
        border-width:0px;
        width:220px;
    }
    .box p{
        color: rgba(245, 245, 245, 0.7);
        position: relative;
        top:-22px;
    }
    a
    {
        display:inline-block;
        text-decoration: none;
        color:#182145;
    }
    a:active{
        opacity:0.7;
    }
    @media screen and (max-width:750px){
        .box{
            margin-top:15vh;
        }
    }
    footer {
        background-color: #182145;
        width: 100%;
        height: fit-content;
    }
    
    @media screen and (min-width:1500px) {
        footer {
            margin-top: auto;
        }
    }
    
    .Query {
        color: #97C4EE;
        padding: 10px;
    }
    
    .enquiry {
        padding: 10px;
        font-size: 1.6rem;
    }
    
    a.footerlinks {
        text-decoration: none;
        display: block;
        width: fit-content;
        color: #97C4EE;
        padding-top: 10px;
        padding: 10px;
        padding-bottom: 5px;
        transition: 0.5s;
    }
    
    a.footerlinks:hover {
        color: white;
    
        transform: scale(0.99);
    }
    
    @media screen and (max-width:400px) {
    
        .enquiry {
            padding: 5px;
            font-size: 0.8rem;
        }
    }
    
    @media screen and (min-width:1500px) {
        .enquiry {
            padding: 20px;
            font-size: 3rem;
        }
    
    }
    
    .socials {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    a {
        text-decoration: none;
    }
    
    .socials a {
        margin: 0 10px;
        text-decoration: none;
        font-size: 2rem;
    }
    
    .socials hr {
        flex: 1;
        border: none;
        border-top: 2px solid #97C4EE;
    }
    
    .fa {
        background-color: #97C4EE;
        color: #182145;
        width: 30px;
        text-align: center;
        border-radius: 12px;
        padding: 10px;
        transition: 0.5s;
    }
    
    .fa:hover {
        color: white;
        transform: scale(1.1);
    }
    
    @media screen and (max-width:700px) {
        .socials a {
            font-size: 0.8rem;
            width: 20px;
            padding: 5px;
        }
    }
    
    .footerlogo {
        text-align: center;
        padding: 10px;
        color: #97C4EE;
        font-size: 1.6rem;
    }
    
    .footerlogo>img {
        width: 17vw;
        height: auto;
        object-fit: cover;
    }
    
    .footerlogo div{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    
    @media screen and (max-width:400px){
    
        .footerlogo {
    
            font-size: 0.8rem;
        }
    }
    
    @media screen and (min-width:1500px){
        .footerlogo {
    
            font-size: 3rem;
        }
    
    }
    
    .footerlogo a {
        color: #97C4EE;
        padding: 10px;
        transition: 0.5s;
    
    }
    
    .footerlogo a:hover {
        color: white;
    }
    
    a:hover {
        color: white;
    }