/*https://resources.thomascook.in/images/holidays/staticPage/ThingsToDo/PuraUlunbali.jpg*/
html{
    font-size: 10px;
}
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
p{
    font-size: 1.5vw;
}
section {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.1)), url("https://resources.thomascook.in/images/holidays/staticPage/ThingsToDo/PuraUlunbali.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

.NavBar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    z-index: -1;
}

.NavBar>a {
    text-decoration: none;
    color: #182145;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border-radius: 12px;
    padding: 0.3em;
    width: fit-content;
    height: fit-content;
    font-size: 1.7vw;
    transition: 0.5s;

}

.NavBar>a:hover {
    background-color: white;
    color: #182145;
}

ul,
li {
    display: inline-block;
    text-align: center;
}

ul {
    float: right;
    display: flex;
    flex-wrap: nowrap;
    gap: 2vw;
    margin-right: 2vw;
}

li {
    cursor: pointer;
    color: #182145;
    border-radius: 12px;
    padding: 0.3em;
    width: fit-content;
    height: fit-content;
    font-size: 1.7vw;
}

.logout>a {
    text-decoration: none;
    color: #182145;
}

.logout>a>p {
    width: fit-content;
}

.logout {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    padding: 0.3em;
    transition: 0.5s;
    color: #182145;
    text-decoration: none;
}

.logout:hover {
    transform: scale(1.05);
    color: white;
    background-color: #182145;
}

.logout a {
    text-decoration: none;
    color: #182145;
    border-radius: 12px;
}

li:hover i,
p:hover i {
    color: white;
}

.logout:hover p,
i {
    color: white;
}

.logout:hover a {
    color: white;
}

.logout:hover .logout>a {
    color: white;

}

li p {
    text-align: center;
}

.fa-solid:hover {
    color: white;
}

.fa-solid {
    color: #182145;
}

.fa-circle-user {
    font-size: 3.5vw;
    cursor: pointer;
    transition: 0.6s;
    color: #182145;
    margin-top: -2px;
}

.fa-circle-user:hover {
    color: white;
    transform: scale(1.1);
}

@media screen and (max-width:700px) {
    ul {}

    .NavBar>a {
        font-size: 3.5vw;
    }

    li {
        font-size: 3.5vw;
    }

    .fa-circle-user {
        font-size: 6vw;
        margin-top: 0.5px;
    }
}

section>input {
    height: 2.5vw;
    width: 20vw;
    margin-left: 1%;
    border-radius: 12px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 1.4vw;

}

section>input::placeholder {
    font-size: 1.4vw;
}

@media screen and (max-width:700px) {

    section>input {
        height: 4vw;
        width: 30vw;
        margin-left: 1%;
        border-radius: 12px;
        border: none;
        text-align: center;
        outline: none;
        font-size: 2.5vw;
        margin-bottom: 1%;
    }

    section>input::placeholder {
        font-size: 2.5vw;
    }
}

section>button {
    color: #182145;
    padding: 5px;
    margin-top: 1%;
    margin-left: 1%;
    font-size: 1vw;
    border: none;
    border-radius: 12px;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.5s;
}

section>button:hover {
    background-color: #182145;
    color: white;
    transform: scale(0.99);
}

@media screen and (max-width:650px) {
    section>button {
        font-size: 2vw;
        padding: 1vw;
    }
}

section>.img-text>h1 {
    color: white;
    font-size: 7.5vw;
    font-weight: bold;
    text-align: center;

}

section>.img-text {

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 75vh;
    width: inherit;
}

section>.img-text>p {
    font-size: 4vw;
    text-align: center;
    color: white;
    font-weight: bold;
}

@media screen and (max-width:650px) {
    .plan-btn {
        font-size: 3vw;
        padding: 1vw;
    }

    section>.img-text>h1 {
        font-size: 10vw;

    }

    section>.img-text>p {
        font-size: 7vw;

    }
}
.heading h1 {
    margin: 20px;
    width: fit-content;
}
.heading>p {
    margin: 20px;
}
.separator{
    width: 90%;
    margin: 20px auto;
}
.headline{
    width: fit-content;
    margin: 20px;
    margin-bottom:30px;
}
.Explore-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
.Explore-f-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.Explore-f-item>a>img {
    height: 160px;
    width: 250px;
    border-radius: 12px;
    transition: 0.5s;
    box-shadow: 10px 10px 5px grey;

}

.Explore-f-item>.img-text {
    font-size: 20px;
    color: #182145;
    font-weight: bold;
    margin-top: 10px;
    width: 250px;
    margin-bottom: 20px;
}

.Explore-f-item:hover img {
    transform: scale(1.1);
    box-shadow: none;
    box-shadow: 5px 5px 5px grey;
}
.more-btn {
    font-size: 20px;
    text-align: center;
    padding: 6px;
    background-color: white;
    color: black;
    font-weight: lighter;
    border: black 1px solid;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.5s;
    display: block;
    margin:auto;
}
.more-btn:hover {
    transform: scale(1.05);
}
.food-container {
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: inherit;
}

.food-container>div {
    margin: 20px;
}
.food-item {
    width: 155px;
    border-radius: 12px;
    padding-top: 10px;
    border: solid #97c4EE 2px;
    text-align: center;
    cursor: pointer;
    box-shadow: 10px 10px 5px grey;
    transition: 0.6s;
}

.food-item:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 5px grey;
}

.food-item:hover .food-item>img {

    transform: scale(1.5);
}

.food-item>p {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
    border-bottom-left-radius: 9.5px;
    border-bottom-right-radius: 9.5px;
    background-color: #97c4EE;
    color: #182145;
    font-weight: bold;
}
.food-item>img {
    height: 120px;
    width: 120px;
    cursor: pointer;
    border-radius: 100px;
    transform: scale(1.1);
    transition: 0.5s;

}


.transport {
    border: 2px solid #97c4EE;
    height: fit-content;
    width: inherit;
    display:flex;
    flex-wrap: nowrap;
    margin: 20px;
    border-radius: 12px;
}

.transport>img {
    margin: 20px;
    align-self: center;
    height: auto;
    width: 190px;
}

.transport>p {
    display: inline-block;
    margin:10px;
}
@media screen and (max-width:700px){
    .transport {
      flex-direction: column;
      flex-wrap: nowrap;
    }
    
    .transport>img {
       
        justify-self: center;
        width: 150px;
      
    }
}
@media screen and(max-width:400px){
    .Explore-f-item> a >img{
        height:100px;
        width:180px;
    }
    .transport>img {
       
        justify-self: center;
      
    }
}
.embed {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.youtube,.map{
    margin:25px;
    text-align: center;
    justify-content: center;
}
.youtube>h1,
.map>h1 {
    padding: 20px;
}

.youtube>iframe,
.map>iframe {
    border-radius: 20px;
}
@media screen and (max-width:640px)
{
    .youtube>iframe,.map>iframe {
      width: 75vw;
      height: 25vh;
    }
}
footer {
    height: fit-content;
    background-color: #182145;
    margin-top:20px;
}
footer>div:first-child{
    display: inline-flex;
    flex-wrap: nowrap;
    gap:1vw;
    color: #97C4EE;
    justify-content: space-around;
    width: 100%;
}
footer>div:first-child>div>h4{
    margin:auto;
    margin-top: 3vh;
    color: rgba(151, 196, 238, 0.6);
    font-size: 1.7vw;
    text-align: center;
    font-weight: bolder;
}
footer>div:first-child>div>div{
    color: #97C4EE;
    font-weight: bolder;
    font-size: 1.5vw;
    text-align: center;
    margin-top:4vh;
}
.footerlogo>div{
    font-size: 1.6rem;
    display:flex;
    flex-direction: column;
   align-items:center;
   margin-top: 3vh ;
}
.footerlogo>div>a>img{
    height: auto;
    width: 17vw;
    object-fit: cover;
}
.footerlogo>div>a{
    padding:0;
}
.socials {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

.socials a {
    margin: 0 10px;
    text-decoration: none;
    font-size: 2rem;
}

.socials hr {
    flex: 1;
    border: none;
    border-top: 2px solid #97C4EE;
}

.fa {
    background-color: #97C4EE;
    color: #182145;
    width: 30px;
    text-align: center;
    border-radius: 12px;
    padding: 10px;
    transition: 0.5s;
}

.fa:hover {
    color: white;
    transform: scale(1.1);
}

@media screen and (max-width:700px) {
    .socials a {
        font-size: 0.8rem;
        width: 20px;
        padding: 5px;
    }
}

.footerlinks{
    transition: color 0.2s;
    cursor: pointer;
}
.footerlinks:hover {
    color: white;
    transform: scale(1.05);
}
.footerlogod {
    text-align: center;
    padding: 10px;
    display:flex;
    flex-direction: column;
    color: #97C4EE;
    font-size: 1.6rem;
}

.footerlogod>img {
    width: 17vw;
    height: auto;
    object-fit: cover;
    text-align: center;
    margin:auto;
}

.footerlogod div{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:400px){

    .footerlogod {

        font-size: 0.8rem;
    }
}

@media screen and (min-width:1500px){
    .footerlogod {

        font-size: 3rem;
    }

}

.footerlogod a {
    color: #97C4EE;
    padding: 10px;
    transition: 0.5s;

}

.footerlogod a:hover {
    color: white;
}

a:hover {
    color: white;
}