html {
    font-size: 10px;
}
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
.NavBar{
    padding: 10px;
    background: linear-gradient(to bottom, rgb(151, 196, 238), rgba(255, 255, 255, 0.9));
}
ul,
li {
    display: inline-block;
}

ul {
    float: right;
    display: flex;
    flex-wrap: nowrap;
    gap: 5vw;
    margin: 10px;
    margin-right: 1vw;
}

nav>img {
    height: auto;
    margin-top: 0.5vw;
    width: 17vw;
    margin: 10px;
    object-fit: cover;
}

@media screen and (max-width:700px) {
    ul {
        margin: 10px;
    }
    li.profile>p>i {
        font-size: 4vw;
    }
    li {
        font-size: 2.5vw;
    }
}

li {
    cursor: pointer;
    color: #182145;
    border-radius: 12px;
    padding: 0.3em;
    width: fit-content;
    height: fit-content;
    font-size: 1.7vw;
}

li.location {
    transition: 0.6s;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    padding: 0.3em;
}

.dropdown-content {
    display: none;
    z-index: 1;
    position: absolute;
    background-color: white;
    min-width: 200px;
}

.dropdown-content a {
    color: #97c4EE;
    text-decoration: none;
    display: block;
}

.location:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

li:hover i,
p:hover i {
    color: white;
}

li.location:hover {
    color: white;
    background-color: #182145;
    border-radius: 12px;
    transform: scale(1.05);
}

.logout>a>p {
    width: fit-content;
}

li.profile>p>i {
    cursor: pointer;
    transition: 0.6s;
    font-size: 3.5vw;
    margin-top:-0.5vw;
    background-color: none;
}

li.profile:hover {
    transform: scale(1.05);
}

li.logout>a {
    text-decoration: none;
    color: #182145;
    border-radius: 12px;
}

.logout:hover .logout>a {
    color: white;
}

li p {
    text-align: center;
}

.fa-solid:hover {
    color: white;
}

.fa-solid {
    color: #182145;
}

.hr1 {
    width: 95%;
    background-color: #182145;
    height: 0.1px;
    border: none;
    margin: 0 auto;
}

li.logout {
    transition: 0.6s;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 12px;
}

li.logout:hover {
    color: white;
    background-color: #182145;
    border-radius: 12px;
    transform: scale(1.05);
}

.logout>a:hover {
    color: white;
}

.searchfield {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    gap: 17vw;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.searchfield>div {
    display: inline-block;
    height: fit-content;
    width: fit-content;
    padding-left: 2vw;
    margin-top: 5vh;
}

.searchfield>div>div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5vh;
    gap: 0.4vw;
}

.worldtravel {
    float: right;
    margin-top: 2.5vh;
    width: 28vw;
    height: auto;
}

.sub_title {
    font-weight: bolder;
    font-size: 1.5vw;
    color: rgba(24, 33, 69, 0.8);
}

.holiday {
    margin-top: 5.5vh;
    font-weight: bolder;
    font-size: 3vw;
    color: #182145;
}

.searchbar {
    color: #182145;
    display: block;
    margin-top: 2.5vh;
    text-align: center;
    border-color: #97C4EE;
    border-style: solid;
    border-width: 0.2vw;
    border-radius: 12px;
    transition: 0.5s;
    text-align: center;
    width: 40vw;
    height: 1vw;
    outline: none;
    padding:0.5vw;
    font-size: 1.3vw;
}

.searchbar:focus {
    outline: none;
    border-color: #182145;
    color: #182145;
    font-size: 1.3vw;
}
.searchbar::placeholder {
    color: rgba(24, 33, 69, 0.6);
    font-weight: bolder;
    font-size: 1.1vw;
}
.find-place {
    display: block;
    color: #182145;
    width: fit-content;
    background-color: #97C4EE;
    font-size: 1.3vw;
    font-weight: bolder;
    cursor: pointer;
    padding: 0.5vw;
    margin-top: 2vh;
    border-radius: 12px;
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
}

.find-place:hover {
    color: white;
    transform: scale(1.1);
}

p.popular-place {
    font-size: 1.2vw;
    cursor: pointer;
    padding: 0.2vw;
    margin-top: 1.5vh;
    transition: 0.5s;
}

p.popular-place:hover {
    background-color: #97C4EE;
    border-radius: 12px;
}

p.list-of-countries {
    font-size: 1vw;
    cursor: pointer;
    padding: 0.2vw;
    transition: 0.5s;
}

.list-of-countries:hover {
    background-color: #97C4EE;
    border-radius: 12px;
}

@media screen and (max-width:700) {
    .find-place {
        font-size: 1vw;
        padding: 5px;
    }
}

.hr2 {
    width: 95%;
    background-color: #182145;
    height: 0.1px;
    border: none;
    margin: 0 auto;
    margin-top: 30px;
}

.flex-container div>img {
    height: auto;
    transition: 0.5s;
}

.item24>img {
    width: 13vw;
}

.wwitem>img {
    width: 13vw;
}

.hqitem>img {
    width: 11vw;
}

.flex-container div>img:hover {
    transform: scale(1.1);
}

.flex-container {
    display: flex;
    color: #182145;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 20px;
}

.flex-container>div {
    text-align: center;
    width: fit-content;
    height: fit-content;
}

.flex-container div>p {
    width: fit-content;
    font-weight: bolder;
    font-size: 1.5vw;
    color: #182145;
    padding: 5px;
    text-align: center;
}

@media screen and (max-width:700px) {
    .item24>img {
        width: 90px;
        text-align: center;
    }

    .wwitem>img {
        width: 90px;
        text-align: center;

    }

    .hqitem>img {
        width: 90px;
        text-align: center;

    }

    .flex-container {
        display: flex;
        color: #182145;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 5vh;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .flex-container div>p {
        font-size: 8px;
        margin-right: auto;
        margin-left: auto;
    }
}

footer {
    height: fit-content;
    background-color: #182145;
}

footer>div {
    display: inline-flex;
    flex-wrap: nowrap;
    gap:1vw;
    color: #97C4EE;
    justify-content: space-around;
    width: 100%;
}

footer>div>div>h4 {
    margin:auto;
    margin-top: 3vh;
    color: rgba(151, 196, 238, 0.6);
    font-size: 1.7vw;
    text-align: center;
    font-weight: bolder;
}
footer>div>div>div{
    color: #97C4EE;
    font-weight: bolder;
    font-size: 1.5vw;
    text-align: center;
    margin-top:4vh;
}
.footerlogo {
    font-size: 1.6rem;
    justify-self: center;
    align-self: center;

}
.footerlogo>img{
    height: auto;
    width: 17vw;
    object-fit: cover;
}
.footerlinks {
    transition: color 0.2s;
    cursor: pointer;
}

.footerlinks:hover {
    color: white;
    transform: scale(1.05);
}
@media screen and (max-width:700px)
{
    footer>div>div>div{
        margin-top:2vh;
    }
}

@media screen and (max-width:400px){

    .footerlogo {

        font-size: 0.8rem;
    }
}

@media screen and (min-width:1500px){
    .footerlogo {

        font-size: 3rem;
    }

}